Examples/StepFunctions/StepFunctions.json
{
  "Comment": "Order Processing Business Process",
  "StartAt": "ReceiveOrder",
  "States": {
  
    "ReceiveOrder": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:FUNCTION_NAME",
      "Next": "CheckInventory"
    },
    
    "CheckInventory": {
      "Type" : "Choice",
      "Choices": [
        {
          "Variable": "$.inventoryExists",
          "BooleanEquals": true,
          "Next": "ProcessOrder"
        },
        {
          "Variable": "$.inventoryExists",
          "BooleanEquals": false,
          "Next": "DeclineOrderBranch"
        }
      ]
    },

    "ProcessOrder": {
      "Comment": "------------Inventory Exists - Process Order-------------",
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "Next": "UpdateInventory"
    },
    
    "UpdateInventory": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "Next": "ChargeCustomer"
    },
        
    "ChargeCustomer": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "Next": "ShipOrder"
    },
    
    "ShipOrder": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "Next": "SendNotification"
    },
    
    "DeclineOrderBranch": {
      "Comment": "------------No Inventory - Decline Order-------------",
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "DeclineOrder",
          "States": {
            "DeclineOrder": {
              "Type": "Task",
              "Resource":
                "arn:aws:lambda:REGION:ACCOUNT_ID:function:AddressFinder",
              "End": true
            }
          }
        },
        {
          "StartAt": "NotifyProcurement",
          "States": {
            "NotifyProcurement": {
              "Type": "Task",
              "Resource":
                "arn:aws:lambda:REGION:ACCOUNT_ID:function:PhoneFinder",
              "End": true
            }
          }
        }
      ],
      "Next": "SendNotification"
    },
    
    "SendNotification": {
      "Comment": "------------Continue General Processing-------------", 
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "Next": "UpdateOrderStatus"
    },
        
    "UpdateOrderStatus": {
      "Type" : "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:OnFirstMatch",
      "End": true
    }

  }
}
